---

---

<a href="/" class="back">
  <svg
    class="icon icon--back"
    aria-labelledby="back-title"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 256"
  >
    <title id="back-title">Back</title>
    <rect width="256" height="256" fill="none"></rect>
    <polyline
      points="160 208 80 128 160 48"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="12"></polyline>
  </svg>
</a>

{
  /*
<a href="/" class="back">
  &lt;- <span class="sr-only">back</span>
</a>
*/
}
<script>
  import { navigate } from "astro:transitions/client";

  const navigateBack = () => {
    const backButton = document.querySelector(".back");
    if (!backButton) return;
    backButton.addEventListener("click", (e) => {
      e.preventDefault();
      const href = e.target.href;
      backHandler(href);
    });
  };

  async function backHandler(href) {
    if (navigation.canGoBack) {
      await navigation.back().finished;
    } else {
      navigate(href);
    }
  }

  const handleBackScroll = () => {
    let prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      let currentScrollPos = window.pageYOffset;
      if (prevScrollpos - currentScrollPos >= 50) {
        document.body.classList.remove("hide-header");
        prevScrollpos = currentScrollPos; // Update prevScrollpos after removing the class
        // else if the user scrolled to the top of the page
      } else if (currentScrollPos === 0) {
        document.body.classList.remove("hide-header");
        prevScrollpos = currentScrollPos; // Update prevScrollpos after removing the class
      } else if (currentScrollPos > prevScrollpos) {
        document.body.classList.add("hide-header");
        prevScrollpos = currentScrollPos; // Update prevScrollpos after adding the class
      }
    };
  };

  handleBackScroll();

  document.addEventListener("astro:page-load", () => {
    navigateBack();
    handleBackScroll();
  });

  document.addEventListener("astro:after-swap", () => {
    handleBackScroll();
  });
</script>
