---
const { currentPath, tags } = Astro.props;

// reorder tags alphabetically
tags.sort((a, b) => {
  if (a < b) return 1;
  if (a > b) return -1;
  return 0;
});
---

<nav class="tags">
  <ul class="tags__list list-reset">
    <li class="tags__item">
      <a
        class={currentPath === ""
          ? "tags__link tags__link--active"
          : "tags__link"}
        href="/"
      >
        all</a
      >
    </li>
    {
      tags.map((tag) => (
        <li class="tags__item">
          <a
            class={
              currentPath === tag
                ? "tags__link tags__link--active"
                : "tags__link"
            }
            href={`/${tag}`}
          >
            {tag.replace(/-/g, " ")}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
